:root {
    --main-font: "Barlow Semi Condensed", sans-serif;

    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 13px;
}
body {
    width: 100%;
    height: 120vh;
    background-color: var(--Light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-container {
    width: 1160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 28px;
}
.main-container .container {
    width: 100%;
    border-radius: 12px;
    padding: 28px 32px;
    background-color: var(--White);
    box-shadow: 22px 24px 82px -25px rgba(0,0,0,0.32);
}
.main-container .container .profile {
    display: grid;
    grid-template-columns: 48px 90px auto;
    grid-template-rows: 16px 24px;
    margin-bottom: 16px;
}
.main-container .container .profile span {
    color: var(--Light-grayish-blue);
    font-weight: 500;
}
.main-container .container .profile > p {
    color: var(--Light-gray);
    opacity: 50%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.main-container .container .profile img {
    width: 36px;
    border-radius: 50%;
}
.main-container .container h2 {
    font-size: 21.1px;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--Light-grayish-blue);
    opacity: 98%;
    z-index: 1;
    position: relative;
}
.main-container .container > p {
    color: var(--Light-gray);
    opacity: 70%;
    font-weight: 500;
}
.main-container .item1 {
    grid-column: 1 / 3;
    position: relative;
    background-color: var(--Moderate-violet);
}
.main-container .item1 img:nth-child(4) {
    position: absolute;
    right: 60px;
    top: 0;
}
.main-container .item2 {
    background-color: var(--Very-dark-grayish-blue);
}
.main-container .item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    background-color: var(--Very-dark-blackish-blue);
}
.main-container .item5 {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}
.main-container .item5 .profile span, .main-container .item3 .profile span {
    color: var(--Very-dark-grayish-blue);
}
.main-container .item5 .profile p, .main-container .item3 .profile p {
    color: var(--Very-dark-grayish-blue);
}
.main-container .item5 h2, .main-container .item3 h2 {
    color: var(--Very-dark-grayish-blue);
    z-index: 2;
}
.main-container .item5 p, .main-container .item3 p {
    color: var(--Very-dark-grayish-blue);
}
.main-container .item2 > p, .main-container .item4 > p{
    color: var(--Light-grayish-blue);
    position: relative;
    z-index: 3;
}
.attribution {
    position: absolute;
    bottom: 6px;
    text-align: center;
}
.attribution a {
    color: var(--Moderate-violet);
    text-decoration: none;
}
@media (max-width: 920px) {
    body {
        width: 100%;
        height: auto;
        padding:  60px 24px;
    }
    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-container .container {
        width: auto;
    }
}
